@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@100;300;400;500;700&family=Libre+Bodoni:ital@0;1&family=Libre+Franklin:wght@100;400;500;600;700;800&family=Montserrat:wght@100;400&family=Noto+Sans+Osmanya&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

.contactUs-full-div {
  padding: 10% 0;
}
.contactUs-inputs-div {
  background-color: #86c6ca;
  padding: 0 0 30px 0;
}
.contactUs-inpu-div {
  background-color: #f8f8f8;
  padding: 45px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.contactUs-tag {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

.contactUs-des {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  /* border: 1px solid gray; */
  width: 96%;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.contact-inp {
  width: 100%;
  border: none;
  background-color: white;
  outline: none;
  padding: 10px 0;
  border-radius: 5px;
}

.contact-inp-text {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 0 0 10px;

  border-radius: 5px;
}

.contact-inp-text-div {
  padding: 2% 0;
}

.contact-inp-text {
  width: 100%;
  font-size: 0.8rem;
  height: 20vh;
  background-color: white;
}

.contact-lebel {
  font-size: 0.8rem;
  color: black;
}

.send-btn {
  background-color: #86c6ca;
  border: none;
  font-size: 0.8rem;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.contact-getIn-touch-div {
  padding: 45px 10px 0 10px;
}

.contact-address {
  display: flex;
  gap: 5px;
  /* align-items: center; */
  /* justify-content: ; */
}

.cont-add-icon {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.cont-get-tag {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.cont-add-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  white-space: wrap;
  margin-top: 2px;
}

.iframe-contact {
  width: 180px;
  height: 200px;
}

@media only screen and (max-width: 3000px) and (min-width: 1370px) {
  .contact-address {
    display: flex;
    justify-content: start;
    /* align-items: center; */
  }
  .contact-getIn-touch-div {
    padding: 45px 15px 45px 0;
  }
  .cont-add-icon {
    font-size: 1.1rem;
  }

  .cont-add-text {
    margin-top: 2px;
    font-size: 0.9rem;
  }

  .iframe-contact {
    width: 275px;
    height: 260px;
  }
}

@media (max-width: 768px) {
  .contactUs-inputs-div {
    padding: 10px 11px 0 11px;
  }
  .contact-getIn-touch-div {
    /* background-color: #86c6ca; */
    padding: 14px 10px 30px 9px;
    margin: 25% 3% 0 3%;
  }
  .contactUs-inpu-div {
    border-radius: 3px !important;
  }
  .contactUs-full-div {
    padding: 0 0 0 0;
    margin: 20% 2%;

    background: rgba(248, 248, 248, 0.9);
    box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .iframe-contact {
    /* background-color: #86c6ca; */
    padding: 0px 10px 30px 9px;
    margin: -10% 3% 0 3%;
  }
  .iframe-contact {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .contact-inp-text-div {
    margin: 20px 0 2px 0;
    /* padding: 0; */
  }
  .contact-inp-text {
    padding: 0;
  }
  .contact-getIn-touch-div {
    margin: -5px;
  }
  .contactUs-tag {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contactUs-des {
    color: #494949;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
  }
  .contact-lebel {
    width: 81px;
    height: 19px;
    flex-shrink: 0;
    color: #525252;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .cont-get-tag {
    /* text-align: center; */
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .cont-add-icon {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .cont-add-text {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .send-btn {
    border-radius: 0 !important;
    background: #066f69;
    width: 158px;
    height: 45px;
    margin: 10px 0 0 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
  }
}
