@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@100;300;400;500;700&family=Libre+Bodoni:ital@0;1&family=Libre+Franklin:wght@100;400;500;600;700;800&family=Montserrat:wght@100;400&family=Noto+Sans+Osmanya&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

body {
  overflow-x: hidden;
}

/* Navbar  */
.full-navbar-div {
  background-color: white;
  padding: 15px 0 0 0;
  border: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.mobile-nav-div {
  /* display: none; */
  visibility: hidden;
}

.nav-logo-img-div {
  display: flex;
  justify-content: start;
}

.nav-logo-img {
  /* border: 1px solid gray; */
  /* width: 185px;
  height: 42px; */
  width: 36%;
}

.nav-items-div {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-top: 6px;
  /* align-items: center !important; */
  /* text-align: center !important; */
  text-decoration: none;
}

.nav-items-div a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #00a5bd;
  font-weight: 500;
  font-size: 0.9rem;
}

.contact-nav-a {
  display: flex;
  gap: 5px;
}

.ffs-div {
  background: #066f69;
  margin-top: -30px;
}

.ff-div {
  /* margin-top: -30px; */
  /* height: 10vh; */
  /* padding: 0 16%; */
}

/* Login   */

.heading-tag {
  color: #00a5bd;
  font-size: 1.2rem;
  display: block;
}
.login-banner-img-input-divs {
  /* border: 1px solid rgb(192, 32, 32); */
}

.login-banner-img-input-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 0 3% 0;
  /* margin: 0 0 3% 0; */
}

.login-banner-img-div {
  /* width: 100%; */
}
/* _______ For Mobile Version Responsive ________ */
@media screen and (max-width: 767px) {
  .login-banner-img-div {
    width: 100%;
  }
}

.login-banner-img {
  width: 300px;
  height: 270px;
}
.login-banner-img-mob {
  display: none;
  visibility: hidden;
}

.hr {
  /* width: 100px; */
  /* margin: 20; */
  display: grid;
  place-items: center;
  border: 1px solid rgb(255, 255, 255);
  margin: 11% 30% 0 30%;
}
.hradm {
  display: none;
}

.hrs {
  display: grid;
  place-items: center;
  border-top: 1px solid rgb(255, 255, 255);
  margin: -2% 30% 2% 30%;
}
.login-banner-full-inputs-div {
  background-color: rgb(255, 255, 255);
}
.admin-close-div {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.login-banner-inputs-div {
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  /* width: 290px; */
  justify-content: center;
  /* align-items: start; */
  padding: 0 40px;
}
.login-banner-inputss-div {
  background-color: rgba(217, 217, 217, 0.9);
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  width: 338px;
  /* justify-content: center; */
  /* align-items: start; */
  padding: 30px 40px;
}
.brand-inp {
  width: 100%;
}
.hrss {
  display: block;
  visibility: visible;
  border-color: white;
}

.pioneeringtext {
  /* border: 1px solid gray; */
  width: 15%;
  /* display: grid;
  place-items: center; */
  color: rgb(245, 245, 245);
  font-size: 0.8rem;
  line-height: 1.2;
  margin: -1.4% 30%;
  display: block;
  visibility: visible;
  /* z-index: 000; */
}
.pioneeringtexts {
  color: white;
  display: flex;
  justify-content: center;
  padding: 0 0 3% 0;
  margin: -20px 265px 0px 0px;
}
.pioneeringtexts-admin {
  display: none;
}

.fist-slider-text-div {
  color: white;
  /* border: 1px solid white; */
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 12% 30% 2% 30%;
}

.login-footer-full-div {
  /* background-color: #066f69; */
  margin: 3% 0;
  /* z-index: 3; */
}

.login-footer-banner-full-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 0 0 0;
  /* margin-top: 30px; */
  background-color: #00a5bd;
}
.redix-footer-banner-full-div {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 4px 0 0 0;
  /* margin-top: 30px; */
  background-color: #00a5bd;
}
.login-about-footer-banner-full-div {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 4px 0 0 0;
  margin-top: 30px;
  background-color: #00a5bd;
}

.login-footer-banner-div {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 0 0;
}

/* styles/login/login.module.css */

.slick-dots {
  position: absolute;
  bottom: 20px;
  height: 45px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1%;
  color: #adadad;
  /* background-color: #fff; */
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #9e9e9e;
  opacity: 0.6;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  width: 0px;
  height: 0px;
  /* border: 1px solid #fff; */
  /* Set the border color to white */
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #adadad;
  /* width: 2px;
  height: 2px; */
  /* Set the background color to white for active dot */
}

.logins-footer-full-div {
  background-color: #066f69;
  /* margin-top: 5% !important; */
  /* height: 8vh; */
  /* margin: 0 20%; */
}

.login-footer-div {
  position: absolute;
  height: 20vh;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set background color as needed */
  /* padding: 10px; Adjust padding as needed */
  /* text-align: center; */
  /* height: 18vh; */

  background-color: #066f69;
}
.content {
  /* border: 1px solid gray; */
  /* width: 100%; */
}
.brand-input {
  width: 100%;
  outline: none;
  /* margin: 10px 0; */
}

.logins-footer-div {
  position: relative;
  height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  /* margin-top: 20%; */
  /* Set background color as needed */
  /* padding: 10px; Adjust padding as needed */
  /* text-align: center; */
  /* height: 18vh; */
}

.footer-img-div {
  /* display: grid;
  place-items: center;
  text-align: justify; */
  padding: 20px 0 5px 0;
  /* margin: 0 30%; */
}

.footer-img {
  width: 24%;
}

.footer-text-div {
  /* float: right;
   */
  color: white;
  float: right;
  padding: 20px 0 5px 0;
  /* margin: 0 30%; */
}

.footer-text-icon {
  display: flex;
  gap: 40px;
}

.fotter-ptext {
  color: white;
  font-size: 0.8rem;
  /* border: 1px solid gray; */
  /* width: 241px; */
}

.footer-textpp {
  font-size: 0.9rem;
  color: white;
  display: flex;
  justify-content: center;
}
.footer-textpps {
  visibility: hidden;
}

.f-hr {
  /* padding: 20px 0 0 0; */
  color: white;
  /* padding: 0 30% 0 14.5%; */
  width: 100%;
}

.social-icon {
  width: 20px;
}

.f-text {
  color: white;
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
}

.forget-text {
  font-size: 0.7rem;
  text-decoration: underline;
  color: blue;
  display: flex;
  justify-content: end;
  /* margin: auto; */
}

.submit-btn-div {
  display: flex !important;
  margin: auto;
  justify-content: center !important;
}

.submit-btn {
  border: none;
  background-color: #00a5bd;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 4px 50px;
}
.submitn-btn-div {
  display: flex !important;
  margin: auto;
  justify-content: center !important;
  padding: 10px 0 0 0;
}

.submitn-btn {
  border: none;
  background-color: #066f69;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 4px 50px;
}

.redix-div {
  border: 1px solid white;
  background-color: white;
  width: 100%;
  padding: 10px;
  /* margin: 10px; */
  /* height: 100%; */
  overflow-x: hidden;
}

.redix-divs {
  border: 1px solid white;
  background-color: #066f690d;
  width: 100%;
  padding: 5px;

  border-radius: 10px;
}

.redix-sec-div {
  border: 1px solid white;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  /* margin-right: 5%; */
}

.redixSec-div {
  border: 1px solid white;
  background-color: #066f690d;
  padding: 10px;
  border-radius: 10px;
}

.certificate-full-div {
  /* height: 100vh; */
  margin: 7% 0 1% 0;
}

.certificate-div {
}

.certificate-image-div {
  display: flex;
  justify-content: center;
  padding: 35px 0 20px 0;
}

.certificate-imageSec-div {
  display: flex;
  justify-content: center;
  padding: 5px 0 25px 0;
  height: 150px;
}

.certificate-image-img {
  object-fit: contain;
}

.certificate-tags-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 0.7;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  padding: 0 15px;
}

.certificate-tags {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: inline;
}

.certificate-ptag {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: inline;
  padding: 5px 0px;
}

.certificate-des-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 3;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.certificate-h5Tag {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  padding: 0 18px;
}

.Blockchain-tagone-div {
  background-color: #066f69;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  margin: 10px;
}

.Blockchain-tagone {
  font-size: 1.1rem;
  padding: 5px;
  margin: 1px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.Blockchain-tagotwo-div {
  gap: 10px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Blockchain-tagotwo {
  text-align: center;
  margin: 10px 20px;
  font-size: 1rem;
  /* margin: 10px 20px; */
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  display: inline;

  white-space: pre-line;
  overflow-wrap: break-word;
  cursor: pointer;
}

.Blockchain-ptag-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.Blockchain-ptag-divs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  line-height: 0.4;
  padding: 0 37px;
}

.block-ptext {
  color: #066f69;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.blockchain-h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}
.Information-full-divs {
  font-family: "Roboto", sans-serif;
  margin: 20px 30px !important;
  /* display: inline; */
  font-size: 0.7rem;
  font-style: italic;
  color: #141414;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;
  /* line-height: 1.4; */
}
.Information-full-div {
  font-family: "Roboto", sans-serif;
  margin: 20px 30px !important;
  /* display: inline; */
  font-size: 0.7rem;
  /* font-style: italic; */
  color: #141414;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;
  /* line-height: 1.4; */
}
.block-ptwotext-add {
  margin-left: 5px;
  font-size: 0.8rem;
  color: #141414;
  font-weight: 500;
  text-decoration: underline;
}

.block-ptwotext {
  margin-top: -4px;
}

.issue-box-details {
  width: 100%;
  height: 50vh;
}

.tag-text {
  padding: 10px 0 0 10px;
}

.no-file-select-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  /* margin-top: -10px; */
}

.no-file-select-div p {
  text-align: center;
}

.loading-dot {
  margin-bottom: -7px;
  font-size: 1.5em;
  /* Adjust font size if needed */
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: loading 1s linear infinite;
}
.no-decoration {
  color: black;
  text-decoration: none;
}
.footer-privacy-div {
  display: none;
  visibility: hidden;
}

.full-table {
  width: 100%;
}

.data-tr {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  text-align: center;
}
.data-td {
  padding-top: 10px; /* Adjust the top padding as needed */
  padding-bottom: 10px; /* Adjust the bottom padding as needed */
}
.table-th {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* display: inline-block; */
  font-size: 0.8rem;
  /* margin-bottom: -4px; */
  font-family: "Roboto", sans-serif;
  padding-top: 15px; /* Adjust the top padding as needed */
  padding-bottom: 15px; /* Adjust the bottom padding as needed */
}

.cursor-pointer {
  cursor: pointer;
}

.text-red {
  color: red;
}

/* Notification */
.Toastify__toast-container {
  width: 300px !important;
}

.Toastify__toast {
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}

.Toastify__progress-bar--success {
  background-color: #86c6ca !important;
}
.Toastify__toast--success {
  background-color: #86c6ca !important;
  color: #fff !important;
}

.Toastify__toast--error {
  background-color: #fb542fe0 !important;
  color: #fff !important;
}

.Toastify__toast-icon svg {
  fill: white;
}
.Toastify__close-button {
  display: none;
}

.custom-toast-margin {
  margin-left: 5px;
}

.mobile-version-div {
  visibility: hidden;
  display: none;
}
.mobile-version-divs {
  display: none;
  visibility: hidden;
}
/* .fotter-joitext-mob {
  display: none;
  visibility: hidden;
} */

.landing-page-login-full-div {
  margin-top: 2%;
  height: 20vh;
  display: none;
}
@keyframes loading {
  0% {
    text-indent: -1rem;
  }

  25% {
    text-indent: -1rem;
  }

  50% {
    text-indent: -1rem;
  }

  75% {
    text-indent: 0em;
    /* Adjust distance if needed */
  }

  100% {
    text-indent: 0em;
    /* Adjust distance if needed */
  }
}

@media only screen and (max-width: 3000px) and (min-width: 1370px) {
  .login-full-div {
    margin-top: 2%;
    height: 20vh;
  }
  .nav-logo-img {
    /* border: 1px solid gray; */
    /* width: 185px;
    height: 42px; */
    width: 28%;
  }
  .footer-img {
    width: 18%;
  }
  .Information-full-divs {
    font-family: "Roboto", sans-serif;
    margin: 20px 30px !important;
    /* display: inline; */
    font-size: 1rem;
    font-style: italic;
    color: #141414;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    /* line-height: 1.4; */
  }
  .Information-full-div {
    font-family: "Roboto", sans-serif;
    margin: 20px 30px !important;
    /* display: inline; */
    font-size: 1rem;
    /* font-style: italic; */
    color: #141414;
    font-weight: 530;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    /* line-height: 1.4; */
  }
  .nav-items-div a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #00a5bd;
    font-weight: 500;
    font-size: 1rem;
  }

  .login-banner-img {
    width: 100%;
    height: 400px;
  }
  .login-banner-inputs-div {
    width: 450px;
    padding: 20px 52px 20px 58px;
    display: flex;
    justify-content: center;
    align-items: justify;
  }
  .content {
    /* border: 1px solid gray; */
    width: 100%;
  }
  .brand-input {
    width: 96%;
    outline: none;
    /* margin: 10px 0; */
  }
  .forget-text {
    font-size: 0.8rem;
    color: #00b3ff;
    margin-right: 15px;
  }
  .submit-btn-div {
    /* float: right; */
  }
  .submit-btn {
    border: none;
    background-color: #00a5bd;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 4px 90px;
  }
  .brand-inp {
    width: 96%;
  }
  .certificate-full-div {
    margin-top: 5%;
  }

  .slider-login {
    margin-bottom: 15px;
  }

  .hr {
    /* margin: 10% 30% 0 30%; */
  }

  .hrs {
    margin-top: -2.5%;
  }

  .Information-full-div {
    font-size: 1rem;
  }

  .block-ptwotext {
    margin-top: -6px;
  }

  .certificate-tags-div {
    padding: 0 5px;
  }

  .certificate-tags {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  .certificate-ptag {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  .fist-slider-text-div {
    color: white;
    /* border: 1px solid rgb(236, 14, 14); */
    display: flex;
    width: 35%;
    justify-content: center;
    margin: 12% 30% 0 30%;
  }
  .fist-slider-text-tag {
    font-size: 55px;
    margin: 0 0 7% 0;
  }
  .slick-dots {
    height: 10px;
  }
  .hrss {
    display: block;
    visibility: visible;
  }

  .login-banner-img-input-div {
    display: flex;
    justify-content: center;
    padding: 170px 0 3% 0;
    /* margin-top: 20px; */
    /* width: 100%; */
  }
  .pioneeringtexts {
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 0 3% 0;
    margin: -30px 0 0 -28%;
  }
  .login-banner-img-input-divs {
    /* border: 1px solid white; */
  }
  .login-banner-inputss-div {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    align-items: center;
  }
  .login-banner-inputsingle {
    margin-top: 60px;
  }

  .submitn-btn-div {
    /* display: flex !important;
    margin: auto;
    justify-content: center !important; */
    margin-top: 30px;
  }

  .submitn-btn {
    border: none;
    background-color: #066f69;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 4px 50px;
  }
  .login-footer-banner-full-div {
    padding: 25px 0 0 0;
    background-color: #00a5bd;
  }
  .blockchain-h5 {
    padding: 0 14%;
  }
}

@media (max-width: 768px) {
  /* Notification */
  .Toastify__toast-container {
    width: 100% !important;

    /* margin: 0 0 0 40px; */
  }

  .Toastify__toast {
    border-radius: 8px;
    font-family: "Arial", sans-serif;
    /* height: 2vh !important; */
    min-height: 35px !important;
  }

  .Toastify__progress-bar--success {
    background-color: #86c6ca !important;
    /* height: 2vh !important; */
  }
  .Toastify__toast--success {
    margin: 0 15% 0 15%;
    background-color: #86c6ca !important;
    /* height: 2vh !important; */
    border-radius: 10px !important;
    color: #fff !important;
  }

  .Toastify__toast--error {
    margin: 0 15% 0 15%;
    background-color: #fb542fe0 !important;
    /* height: 2vh !important; */
    color: #fff !important;
    /* height: 2vh !important; */
  }

  .Toastify__toast-icon svg {
    fill: white;
  }
  .Toastify__close-button {
    display: none;
    /* height: 2vh !important; */
  }
  .nav-mob-lgo-FULL-div {
    display: flex;
    gap: 110px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 0 0 168px; /* Add padding for better spacing */
  }
  .certificate-image-div {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
  }

  .nav-mob-lgo-img-link-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .nav-mob-toggle-div {
    display: flex;
    justify-content: flex-end;
  }
  .body {
    overflow-x: hidden;
  }
  .navBorder {
    /* height: 5vh; */
    border: 2px solid #ffffff;
    width: 40%;
    margin: 0 0 0 40px;
    border-radius: 5px;
  }
  .login-full-div {
    margin-top: 20%;
    height: 100vh;
  }
  .fist-slider-text-div {
    color: white;
    /* border: 1px solid rgb(236, 14, 14); */
    display: flex;
    width: 78%;
    /* justify-content: center; */
    margin: 9% 30% 0 10%;
  }
  .fist-slider-text-tag {
    font-size: 32px;
    text-align: start;
  }
  .hr {
    display: none;
  }
  .hrs {
    /* display: none; */
  }
  .pioneeringtexts {
    display: none;
    visibility: hidden;
  }
  .login-banner-img-input-div {
    display: flex;
    justify-content: center;
    padding: 0 1% 0 1%;
    /* margin-top: 20px; */
    width: 100%;
  }
  .login-banner-img {
    visibility: hidden;
    display: none;
  }
  .login-banner-img-mob {
    width: 100%;
    /* padding: 5px 8px 0 8px; */
    display: block;
    visibility: visible;
    /* height: 270px; */
  }
  .login-banner-full-inputs-div {
    background-color: rgba(217, 217, 217, 0.9);
    width: 100%;
    padding: 10px;
  }
  .password-inpi {
    margin: 15px 0 5px 0;
  }
  .forget-text {
    color: #00b3ff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  .bname {
    color: #525252;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .admin-close-div {
    visibility: hidden;
  }
  .login-banner-inputs-div {
    width: 100%;
    height: 37vh;
    padding: 2% 8% 2% 8%;

    margin: -10% 1%;
    /* background-color: rgba(217, 217, 217, 0.9); */
    /* opacity: 10; */
  }
  .hrs {
    visibility: hidden;
  }
  .green-mob-div {
    width: 98%;
    display: flex;
    justify-content: center;
    background-color: #066f69;
    /* border: 1px solid gray; */
    height: 5vh;
    margin: 0 0 0 5px;
  }
  .green-mob {
    visibility: hidden;
  }
  .hrs {
    width: 80%;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 1% 30% 2% 10%;
    /* display: none; */
  }
  .hrs-mob {
    /* border-top: 1px solid rgb(255, 255, 255); */
  }
  .pioneeringtext {
    /* border: 1px solid gray; */
    width: 60%;
    /* display: flex !important;
    justify-content: start !important;
    flex-direction: column !important; */
    color: white;
    font-size: 0.8rem;
    line-height: 1.3;
    margin: -1.4% 30% 0 10%;
  }

  .nav-items-div {
    display: flex;
    flex-direction: column;
    padding: 17px 0 0 20px;
  }

  .nav-mob-logo-img {
    width: 167px;
    height: 37px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 68px; */
  }
  .web-view {
    display: none;
    visibility: hidden;
  }
  .mobile-version-div {
    visibility: visible;
    display: grid;
    place-items: center;
  }
  .mobile-version-divs {
    visibility: visible;
    display: block;
    margin-top: -20px;
  }

  .footer-text-icon {
    display: flex;
    gap: 20px;
  }
  .fotter-ptext-mob {
    color: #fff;

    text-align: center;

    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    font-family: "Roboto", sans-serif;
  }
  .fotter-joitext-mob {
    color: #fff;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
  }
  .f-hr-divweb {
    display: none;
    visibility: hidden;
  }
  .f-hr {
    /* padding: 20px 0 0 0; */
    /* border: 2px solid white; */
    color: white;
    /* padding: 0 30% 0 14.5%; */
    width: 100%;
  }
  .pol-mob-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .polmob-text {
    color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .navbar-toggler {
    /* margin-left: 0px; */
    outline: none;
    border: none !important;
  }
  .navbar-toggler-color {
    color: rgb(10, 9, 9) !important;
  }
  .nav-items-div-mob {
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    /* align-items: center !important; */
    /* text-align: center !important; */
    text-decoration: none;
  }
  .nav-items-div-mob a {
    text-decoration: none;
    color: #066f69;
    font-weight: 600;
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    /* margin: 0 0 0 40px; */
  }

  .contact-nav-a-mov {
    display: flex;

    /* justify-content: center; */
    /* align-items: center; */
    gap: 5px;
    /* margin: 2px 0; */
    /* padding: 5px 0; */
  }
  .full-navbar-div {
    display: none;
    visibility: hidden;
  }
  .certificate-tags {
    font-size: 0.9rem;
    font-weight: 700;
    display: inline;
    font-family: "Roboto", sans-serif;
  }
  .certificate-ptag {
    font-size: 0.9rem;
    font-weight: 700;
    display: inline;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
  }
  .certificate-h5Tag {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    display: inline;
    font-family: "Roboto", sans-serif;
  }

  .mobile-nav-div {
    /* display: none; */
    visibility: visible;
    border: none;
    /* background-color: #066f69; */
  }
  .mob-nav {
    /* background-color: #e9e9e9; */
  }
  .nav-mob-logo-img-div {
    display: flex;
    justify-content: center;
    /* background-color: #066f69; */
    gap: 20px;
    padding: 11px 100% 5px 75%;
    /* margin-top: -20px; */
    /* width: 200%; */
  }
  .svg-iconic {
    margin: 0 20px 0 35px;
  }
  .login-footer-banner-full-div {
    padding: 15px 10px 10px 10px;
    position: relative !important;
    bottom: 0;
    margin-top: 10px;
    background-color: #00a5bd;
  }
  .redix-footer-banner-full-div {
    /* padding: 15px 10px 10px 10px; */

    /* margin-top: 10px; */
  }
  .footer-img-div {
    display: none;
    visibility: hidden;
  }

  .footer-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
  }
  .ffs-div {
    margin-top: -70px;
  }
  .f-text {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
  }
  .footer-textpp {
    visibility: hidden;
    display: none;
  }
  .footer-textpps {
    visibility: visible;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .footer-privacy-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 0 60px 0;
    visibility: visible;
  }
  .footer-privacy-div a {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: -15px;
  }
  .footer-privacy-text {
    width: fit-content;
  }
  .mobile-nav-div {
  }
  .redix-div {
    padding: 20px 10px 0 10px;
    border: none;
    /* margin-top: 4.5%; */
  }

  .redix-divs {
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .redix-sec-div {
    padding: 0 10px 10px 10px;
    border: none;
  }
  .redixSec-div {
    /* padding: 20px 0 0 0; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }
  .Information-full-divs {
    line-height: 1.2;
    margin: 25px 2px 0 2px !important;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: start;
    font-family: "Roboto", sans-serif;
  }
  .Information-full-div {
    line-height: 1.4;
    font-size: 0.9rem;
    margin: 0 2px !important;
    font-weight: 600;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .Blockchain-ptag-divs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0 5px 0;
    /* line-height: 0.4; */
    padding: 0 37px;
  }
  .block-ptwotext {
    /* line-height: 1.9; */
    /* white-space-collapse: discard; */
    /* margin: 0 0 0 0; */
    font-size: 0.8rem;
    color: #141414;
    font-weight: 500;
    margin: 0;
  }
  .block-ptwotextc {
    margin: 0;
    font-size: 0.8rem;
    color: #000000;
    font-weight: 500;
    /* word-spacing: -9px; */
    /* font-style: italic; */
    /* text-align: justify; */
    font-family: "Roboto", sans-serif;
    word-spacing: -1px;
  }
  .block-ptwotext-add {
    text-decoration: underline;
    font-size: 0.8rem;
    color: #141414;
    font-weight: 500;
    /* margin-top: -30px; */
    /* line-height: 0.8; */
  }
  .cc-mob {
  }

  .blockchain-h5 {
    font-size: 0.9rem;
    /* line-height: 0.9; */
  }

  .Blockchain-tagone {
    font-size: 1rem;
    padding: 9px 3px;
    margin: 1px 0 0 0;
    font-family: "Roboto", sans-serif;
    /* margin-top: -20px; */
  }
  .block-ptext {
    font-size: 0.9rem;
    /* display: inline-block; */
    width: 105%;
    /* border: 1px solid gray; */
  }
}

@media (max-width: 480px) {
  /* Add these styles to your CSS */
  .nav-mob-lgo-FULL-div {
    display: flex;
    gap: 80px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 0 0 140px; /* Add padding for better spacing */
  }
  .Blockchain-tagotwo {
    text-align: center;
    margin: 10px 10px;
    font-size: 0.9rem;
    /* margin: 10px 20px; */
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    display: inline;
    white-space: pre-line;
    overflow-wrap: break-word;
    cursor: pointer;
  }

  .nav-mob-lgo-img-link-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .nav-mob-toggle-div {
    display: flex;
    justify-content: flex-end;
  }

  .nav-mob-lgo-img {
    width: 145px;
    height: 37px;

    /* display: flex;
  justify-content: center;
  align-items: center; */
    /* margin: 0 40px 0 83px; */
  }
  .nav-items-div-mob {
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    /* align-items: center !important; */
    /* text-align: center !important; */
    text-decoration: none;
    margin: 10px 0 0 15px;
  }
  .nav-items-div-mob a {
    text-decoration: none;
    color: #066f69;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0 40px;
  }
  .redix-div {
    padding: 20px 10px 0 10px;
    border: none;
    margin-top: -10px;
  }

  .Toastify__toast-container--top-right {
    margin-top: 8px !important;
  }
}
@media (max-width: 390px) {
  /* Add these styles to your CSS */
  .nav-mob-lgo-FULL-div {
    display: flex;
    gap: 70px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 0 0 128px; /* Add padding for better spacing */
  }

  .nav-mob-lgo-img-link-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .nav-mob-toggle-div {
    display: flex;
    justify-content: flex-end;
  }
  .nav-mob-lgo-img {
    width: 147px;
    height: 34px;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    /* margin: 0 10px 0 30px; */
  }
  .nav-items-div-mob {
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    align-items: center !important;
    text-align: center !important;
    text-decoration: none;
    margin: 10px 40px 0 0;
  }
  .nav-items-div-mob a {
    text-decoration: none;
    color: #066f69;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0 20%;
  }
  .redix-div {
    padding: 20px 10px 0 10px;
    border: none;
    margin-top: -10px;
  }
}

/* Macbook PRo  */
@media (max-width: 1680px) and (min-width: 1368px) {
  .fist-slider-text-tag {
    font-size: 55px;
    margin-top: 40px;
    line-height: 1.2;
  }
}
.pagination-btn {
  background-color: white;
  border: 0px;
}
